fastapi
uvicorn
sqlalchemy
jinja2
pydantic
httpx
beautifulsoup4
python-dotenv
sentence-transformers
faiss-cpu   
google-generativeai
chromadb
pydantic[email]
playwright

python-dotenv
python-multipart
python-jose[cryptography]
passlib[bcrypt]

tenacity
numpy
loguru